# App
NODE_ENV=development
PORT=8080
INTERNAL_API_KEY=

# Sentry
SENTRY_DSN=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Prometheus
PROMETHEUS_PORT=9090

# Grafana
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_PASSWORD=

# GlitchTip
GLITCHTIP_PORT=8000
GLITCHTIP_SECRET_KEY=
GLITCHTIP_DOMAIN=http://localhost:8000
GLITCHTIP_FROM_EMAIL=glitchtip@localhost
GLITCHTIP_EMAIL_URL=consolemail://
GLITCHTIP_REDIS_URL=redis://redis:6379/1
GLITCHTIP_CELERY_AUTOSCALE=1,3
GLITCHTIP_CELERY_MAX_TASKS_PER_CHILD=10000

# GlitchTip Superuser
GLITCHTIP_SUPERUSER_EMAIL=admin@example.com
GLITCHTIP_SUPERUSER_PASSWORD=

# GlitchTip Postgres
GLITCHTIP_DB_NAME=glitchtip
GLITCHTIP_DB_USER=glitchtip
GLITCHTIP_DB_PASSWORD=

# Discord Bot
DISCORD_BOT_TOKEN=
DISCORD_DEV_GUILD_ID=                # Leave empty for global slash commands

# Lavalink
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=
